################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Tetris/Tetris
/Tetris/.vs
/tetris22/tetris22/obj/tetris22.csproj.nuget.g.targets
/tetris22/tetris22/obj/tetris22.csproj.nuget.g.props
/tetris22/tetris22/obj/tetris22.csproj.nuget.dgspec.json
/tetris22/tetris22/obj/project.nuget.cache
/tetris22/tetris22/obj/project.assets.json
/tetris22/tetris22/obj/Debug/net8.0/tetris22.GlobalUsings.g.cs
/tetris22/tetris22/obj/Debug/net8.0/tetris22.GeneratedMSBuildEditorConfig.editorconfig
/tetris22/tetris22/obj/Debug/net8.0/tetris22.assets.cache
/tetris22/tetris22/obj/Debug/net8.0/tetris22.AssemblyInfoInputs.cache
/tetris22/.vs/tetris22/FileContentIndex/967cd67d-2e8f-4a2a-bce2-938949eae466.vsidx
/tetris22/.vs/tetris22/v17/.suo
/tetris22/.vs/tetris22/v17/DocumentLayout.json
/tetris22/tetris22/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/tetris22/tetris22/obj/Debug/net8.0/tetris22.AssemblyInfo.cs
/tetris22/.vs/tetris22/FileContentIndex/9e924867-5aad-4312-b85c-755428cb951e.vsidx
*.vsidx
